
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Pantry</title>
  </head>
  <body>
    
    <h1>Welcome to my Pantry</h1>
    <%- include('../partials/_navbar.ejs') %>
    <a href="/users/:userId/foods/new">Add New Food Item</a>
    <ul>
      <% pantry.forEach((pantry) => { %>
        <li>
     
          <a href="/users/<%= user._id %>/foods/pantry/<%= pantry._id %>/edit">
            <%= pantry.name %>
          </a>
        </li>
      <% }) %>
    </ul>
  </body>
</html>