<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community page</title>
</head>
<body>
  <% include('../partials/_navbar.ejs') %>
    <p>Community Page</p>
   
    <ul>
        <% user.forEach((user) => { %>
          <li>
            <%= user.name %>
      </li>
    <% }) %>
  </ul>
          
           
</body>
</html>